#content1.1{background-color:rgb(174,240,250); width:75%; float:left;}
#content1.2{background-color:rgb(234,153,153); width:75%; float:left;}
#content2{background-color:rgb(229,250,143); width:75%; float:left;}
