#content{
  background: blue;
background-image: url("9.1.png"); 
background-attachment:fixed;
background-position: center top; 
background-repeat: no-repeat;}
#content2{
 background: beige;
background-image: url("9.2.jpg"); 
background-attachment:fixed;
background-position: center top; 
background-repeat: no-repeat;}
#content3{
  background-image: url("9");
	background-position: top;
/*background-attachment: fixed;*/
	background-repeat: no-repeat;}
#content4{
  background-image: url(9.4.jpg");
	background-position: right;
/*background-attachment: fixed;*/
	background-repeat: no-repeat;}
#iz{
background:orange url("9.5.jpg") fixed bottom right space;
}
